*{
    box-sizing: border-box;
}
html{
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c58016a8848bf447257e8d9ea378f92&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    color: rgb(44, 44, 44);
}

hr.style-two {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

header{
    background-color: transparent;
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    border-radius: 0.4rem;
}

header h2{
    font-size: 40px;
}

.cityText h3 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
}

.cityWrapper{
    margin-top: 40px;
    text-align: center;
}

.cityInput{
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    height: auto;
    font-size: 20px;
}



.cityButton{
    height: auto;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #008CBA;
    padding: 8px;
    border: none;
    margin-left: 10px;
    transition: all .1s linear;
}

.cityButton:active {
    box-shadow: 2px 2px 2px rgb(0, 89, 119);
    transform: translateY(4px);
  }

.cityButton:hover{
    background-color: rgb(0, 89, 119);
    cursor: pointer;
}

.results h3{
    font-size: 25px;
}
.results p{
    font-size: 18px;

}

.showWeatherResults{
    margin: auto;
    text-align: center;
}

.error{
    display: none;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    width: 150px;
    border-radius: 10px;
}


footer{
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    /* position: absolute;
    bottom: 0; */
}

/* Mobile Devices */

/* @media only screen and (max-width: 768px){
    
} */

/* Tablets */

/* @media only screen and (min-width: 600px){

} */
